/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-extra-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.inter-semibold {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.nunito-light {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-medium {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.nunito-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.red {
    color: #FF5A6E;
}

.bg-customRed {
    background-color: #FF5A6E;
}

.bg-hero {
    background: url('./assets/bg/Bg Header.png');
    background-size: cover;
    background-position: center;
}

.primaryBlue {
    color: #39A7FF;
}

.bg-darkBlue {
  background-color: #054578;
}

.darkBlue {
  color: #054578;
}

.bg-primaryBlue {
    background-color: #39A7FF;
}

.bg-babyBlue {
    background-color: #EFF9FF;
}

.bg-lightGrey {
  background-color: #F8F9F9;
}
